body {
  background-color: #ffd9b3;
}
.contact-icon {
  margin-top:  3%;
  margin-left: 17.5%;
  width:       10%;
  cursor:      pointer;
}

#subject {
  line-height: 30px;
  font-size:   20px;
  width:       40%;
  display:     block;
  margin:      1% auto;
}

#message {
  display:   block;
  width:     40%;
  margin:    0 auto;
  height:    300px;
  font-size: 18px;
}

#js_send {
  cursor:           pointer;
  font-size:        18px;
  height:           50px;
  width:            40%;
  display:          block;
  margin:           5px auto;
  border:           1px solid #4d2800;
  background-color: #ffd9b3;
  color:            #4d2800;
}

#contact-description {
  margin-top: 1%;
  color:      white;
  font-size:  25px;
  text-align: center;
}

#section-0 {
  background-color: #ffd9b3;
  padding-top:      1%;
  padding-bottom:   1%;
}

#section-1 {
  background-color: #ffbf80;
  padding-top:      1%;
  padding-bottom:   2%;
}

#section-3 {
  padding-top:      1%;
  padding-bottom:   2%;
  margin-top:       2%;
  background-color: #ffbf80;
}

#contact-bar {
  width:    80%;
  margin:   0 auto;
}

#title {
  margin-left:      auto;
  margin-right:     auto;
  width:            80%;
  padding-top:      1%;
  padding-bottom:   1%;
}

#title-pic {
  display:  inline-block;
  width:    38%;
}

#title-text {
  margin-top:     10%;
  vertical-align: top;
  height:         100%;
  width:          49%;
  display:        inline-block;
}

#name {
  top:        0;
  font-size:  70px;
  color:      #4d2800;
}

#description {
  font-size:  40px;
  color:      #4d2800;
}

#profile {
  border:        4px solid white;
  display:       block;
  width:         80%;
  border-radius: 100%;
}

#about-2 {
  padding-top: 2%;
  color:       #4d2800;
}

.about-title {
  padding-top:    20px;
  padding-bottom: 20px;
  border-bottom:  4px solid white;
  text-align:     center;
  width:          80%;
  margin-left:    auto;
  margin-right:   auto;
  margin-top:     1%;
  color:          white;
  font-size:      25px;
}

#box-container {
  width:        80%;
  margin-right: auto;
  margin-left:  auto;
  margin-top:   1%;
}

.entry-box {
  cursor:           pointer;
  position:         relative;
  display:          inline-block;
  width:            32.3%;
  height:           330px;
  margin-left:      2px;
}

.entry-box-front,
.entry-box-back {
  overflow: hidden;
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}

.entry-box-front,
.entry-box-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.entry-box-front {
  background-color: #4d2800;
}

.entry-box-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.entry-box:hover .entry-box-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.entry-box:hover .entry-box-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#style-1 {
  color:            #4d2800;
  background-color: #ffd9b3;
}

.front-img {
  width:        150%;
  display:      block;
  margin-left:  -28%;
  margin-top:   -20%;
}

.back-title {
  margin-top: 25%;
  font-size:  20px;
  text-align: center;
}

.back-info {
  margin-top: 1%;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  #name {
    font-size: 60px;
  }

  #description {
    font-size: 30px;
  }
}

/** just to make the boxes resize appropriately **/
@media screen and (max-width: 1440px) {
  .entry-box {
    height: 250px;
  }

  #name {
    font-size: 50px;
  }

  #description {
    font-size: 25px;
  }
  #message {
    width: 60%;
  }
  #subject {
    width: 60%;
  }
  #js_send {
    width: 60%;
  }
}

@media screen and (max-width: 1124px) {
  #message {
    width: 60%;
  }
  #subject {
    width: 60%;
  }
  #js_send {
    width: 60%;
  }
  .entry-box {
    height: 200px;
  }

  #name {
    font-size: 40px;
  }

  #description {
    font-size: 20px;
  }
}

/* fill whole screen */
@media screen and (max-width: 900px) {
  #subject {
    width: 90%;
  }
  #message {
    width: 90%;
  }
  #js_send {
    width: 90%;
  }
  #title {
    width: 100%;
  }

  #name {
    font-size: 30px;
  }

  #description {
    font-size: 15px;
  }

  .about-title {
    width:     100%;
    font-size: 20px;
  }

  #box-container {
    width: 100%;
  }

  .entry-box {
    height: 225px;
  }
}

/* 2 boxes */
@media screen and (max-width: 768px) {
  #name {
    font-size: 20px;
  }

  #description {
    font-size: 15px;
  }

  .entry-box {
    width:       49%;
    margin-left: 0px;
    height:      200px;
  }
}

/*phone */
@media screen and (max-width: 480px) {
  #title {
    padding-top:    3%;
    padding-bottom: 3%;
    width:          100%;
  }

  #section-1 {
    padding-top:    0px;
    padding-bottom: 0px;
  }

  #title-pic {
    width: 100%;
  }

  #title-text {
    width: 100%;
  }

  #description {
    text-align: center;
    font-size:  20px;
  }

  #name {
    text-align: center;
  }

  #profile{
    margin-left:  auto;
    margin-right: auto;
    width:        70%;
  }

  #contact-description {
    font-size: 20px;
  }

  .contact-icon {
    width: 20%;
    margin-left: 10%;
  }

  .entry-box {
    width:  100%;
    border: 1px solid white;
    height: 300px;
  }
}
