body {
  background-color: black;
}
#entrance-container {
  margin-top: 10%;
}
.entrance-background {
  vertical-align: center;
  display:        block;
  margin-left:    auto;
  margin-right:   auto;
}
#loading-bar {
  display:          block;
  margin-left:      auto;
  margin-right:     auto;
  height:           8px;
  width:            0px;
  background-color: white;
}
